* {
  box-sizing: border-box;
}

/* Add a gray background color with some padding */
body {
    padding: 0;
    background-color: rgb(20, 20, 20);
}

/* Header/Blog Title */
.blogName {
    font-family: "Julius Sans One", sans-serif;
    text-shadow: 2.5px 3.5px 3.5px black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 1);
    font-weight: bold;
    padding: 10px;
    font-size: 45px;
    text-align: center;
    color: firebrick;
    background-image: url("slike/dumbbell.jpg");

}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  width: 70%;
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 1);
}

.img {
    padding-left: 25px; 
}

/* Add a card effect for articles */
.card {
   background-image: linear-gradient(to bottom right, rgb(25, 25, 25), rgba(25, 25, 25, 0.8));
   color: whitesmoke;
   padding: 45px;
   margin-top: 30px;
}

h2 {
    font-family: 'Tahoma', sans-serif;
    font-weight: lighter;
    text-shadow: 2px 3px 3px black;
    padding: 20px;
}

h3 {
    font-family: 'Tahoma', sans-serif;
    font-weight: lighter;
    text-shadow: 2px 3px 3px black;
    padding: 20px;
}

p {
    font-family: sans-serif;
    padding: 20px;
    text-shadow: 2px 3px 3px black;
}

h5 {
    font-style: italic;
    padding: 20px;
    text-shadow: 2px 3px 3px black;
}

.recept {
    list-style-type: square;
    font-family: "Tahoma", sans-serif;
    line-height: 1.5;
    padding-left: 40px;
}

ol {
    font-family: "Tahoma", sans-serif;
    line-height: 1.5;
    text-shadow: 2px 3px 3px black;
}

li:not(.footer-li) {
  text-shadow: 2px 3px 3px black;
  line-height: 1.5;
}

.thumbnail {
  width: 150px;
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 1);
}

.thumbnail:hover {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 1), 0 10px 30px 0 rgba(0, 0, 0, 3);
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}
